@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(https://fonts.gstatic.com/s/bebasneue/v1/JTUSjIg69CK48gW7PXooxW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUJ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
/*--lg--*/
/*--md--*/
/*--sm--*/
/*--xs--*/
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #666564;
  font: normal 16px 'Open Sans', sans-serif;
  line-height: 24px;
  word-wrap: break-word;
}
body.siteGrid {
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 198px minmax(300px, 1fr) 142px;
}
@media screen and (max-width: 767px) {
  body.siteGrid {
    grid-template-rows: 135px minmax(300px, 1fr) 142px;
  }
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: normal;
  color: #454443;
  font-family: 'Bebas Neue', sans-serif;
}
h1,
.h1 {
  font-size: 6em;
  line-height: 1em;
  margin: 0;
}
@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 4.2em;
  }
}
h2,
.h2 {
  font-size: 5.2em;
  line-height: 0.9em;
  margin: 0;
}
@media screen and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 3.64em;
  }
}
h1 span,
h2 span {
  color: #d25b38;
}
h3,
.h3 {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0;
}
@media screen and (max-width: 767px) {
  h3,
  .h3 {
    font-size: 2em;
  }
}
h4,
.h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}
@media screen and (max-width: 767px) {
  h4,
  .h4 {
    font-size: 1.35em;
  }
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: #d25b38;
}
a:hover {
  text-decoration: underline;
  color: #454443;
}
a:active {
  color: #95391e;
}
footer {
  background: #f4f2f2;
  line-height: 142px;
}
@media screen and (max-width: 575px) {
  footer {
    font-size: 0.7em;
  }
}
header,
main,
footer,
article,
figure {
  display: block;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ol {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1170px;
  padding: 0 15px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 961px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 737px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 545px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: calc(100% - 30px);
  }
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.textCenter {
  text-align: center;
}
.dGrid {
  display: grid;
}
.dFlex {
  display: flex;
}
.flexRow {
  flex-direction: row;
}
.flexCol {
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .smflexCol {
    flex-direction: column;
  }
}
.flexWrap {
  flex-wrap: wrap;
}
.flexNoWrap {
  flex-wrap: nowrap;
}
@media screen and (max-width: 991px) {
  .mdFlexWrap {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .smFlexWrap {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  .xsFlexWrap {
    flex-wrap: wrap;
  }
}
.itemsStart {
  align-items: flex-start;
}
.itemsEnd {
  align-items: flex-end;
}
.itemsCenter {
  align-items: center;
}
.contBetween {
  justify-content: space-between;
}
.contCenter {
  justify-content: center;
}
.mr0a {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .smMr0 {
    margin: 0;
  }
}
.darkBgColor {
  background-color: #454443;
}
.lightBgColor {
  background-color: #f4f2f2;
}
.redBgColor {
  background-color: #d25b38;
}
.redColor {
  color: #d25b38;
}
.secPad {
  padding: 84px 0;
}
@media screen and (max-width: 767px) {
  .secPad {
    padding: 84px 0 40px 0;
  }
}
/*----header----*/
.topPageHeader {
  padding: 57px 0;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .topPageHeader {
    padding: 32px 0;
  }
}
.siteLogo {
  float: left;
}
@media screen and (max-width: 1200px) {
  .siteLogo {
    max-width: 250px;
  }
}
@media screen and (max-width: 991px) {
  .siteLogo {
    float: none;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .siteLogo {
    float: left;
  }
}
@media screen and (max-width: 575px) {
  .siteLogo {
    max-width: 200px;
  }
}
.mainNav {
  float: right;
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 1200px) {
  .mainNav {
    margin-top: 25px;
  }
}
@media screen and (max-width: 991px) {
  .mainNav {
    float: none;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .mainNav {
    float: right;
    margin-top: 7px;
    width: 100%;
    text-align: left;
  }
}
.mainNav .mainNavMenu {
  padding: 0;
  margin: 0;
}
.mainNav .mainNavMenu li {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavMenu li {
    display: block;
  }
}
.mainNav .mainNavMenu li a {
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  display: block;
  padding: 14px 17px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .mainNav .mainNavMenu li a {
    padding: 10px 12px;
  }
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavMenu li a {
    display: inline-block;
    padding-left: 0;
  }
}
.mainNav .mainNavMenu li a::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #ffffff;
  content: '';
  transition: width 0.3s ease-out;
}
.mainNav .mainNavMenu li a:hover {
  text-decoration: none;
}
.mainNav .mainNavMenu li a:active {
  color: #d25b38;
  transition: color 0.3s;
}
.mainNav .mainNavMenu li a:active::after,
.mainNav .mainNavMenu li a:focus::after {
  content: none;
}
.mainNav .mainNavMenu li a:hover::after,
.mainNav .mainNavMenu li a.active::after {
  width: 100%;
}
.mainNav .mainNavMenu li:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavMenu {
    display: none;
    background: #d25b38;
  }
}
.mainNav .mainNavCheckbox {
  position: absolute;
  left: -999999999px;
  overflow: hidden;
}
.mainNav .mainNavCheckbox:checked ~ .mainNavMenu {
  height: 100%;
  display: block;
  padding: 20px 15px;
  width: calc(100% - 30px);
  background: #d25b38;
}
.mainNav .mainNavCheckbox:checked ~ .mainNavBtn {
  background: #fb5c00;
}
.mainNav .mainNavCheckbox:checked ~ .mainNavBtn .mainNavIcon::before,
.mainNav .mainNavCheckbox:checked ~ .mainNavBtn .mainNavIcon::after {
  top: 0;
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavBtn {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
    outline: 4px solid #ffffff;
    padding: 15px 10px;
    width: 37px;
    right: 0;
    top: -72px;
    float: right;
  }
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavBtn:hover {
    background: #fb5c00;
  }
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavIcon {
    display: block;
    position: relative;
    width: 36px;
    height: 4px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavIcon::after,
  .mainNav .mainNavIcon::before,
  .mainNav .mainNavIcon span {
    content: '';
    display: block;
    position: absolute;
    background: #ffffff;
    width: 8px;
    height: 8px;
    left: 14px;
    border-radius: 4px;
    transition: 0.3s;
  }
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavIcon::before {
    top: -14px;
  }
}
@media screen and (max-width: 767px) {
  .mainNav .mainNavIcon::after {
    top: 14px;
  }
}
/*----bigSlideSec----*/
.bigSlideSec {
  height: 100vh;
  margin-top: -204px;
  width: 100%;
  color: #ffffff;
  position: relative;
  padding-bottom: 11px;
  z-index: 0;
  background: black;
}
@media screen and (max-width: 767px) {
  .bigSlideSec {
    margin-top: -135px;
    align-items: flex-start;
    min-height: 800px;
    height: 100%;
    padding-bottom: 50px;
  }
}
.bigSlideSec .slider {
  overflow: hidden;
  height: 100vh;
}
.bigSlideSec .sliderSlides {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}
.bigSlideSec .sliderSlides.firstSlide {
  animation: slide ease-out 15s infinite;
}
@keyframes slide {
  0% {
    opacity: 1;
    z-index: 1;
  }
  26.68% {
    opacity: 1;
    z-index: 1;
  }
  33.35% {
    opacity: 0;
    z-index: 0;
  }
  93.38% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
.bigSlideSec .sliderSlides.secondSlide {
  animation: slidetwo ease-out 15s infinite;
}
@keyframes slidetwo {
  0% {
    opacity: 0;
    z-index: 0;
  }
  26.68% {
    opacity: 0;
    z-index: 0;
  }
  33.35% {
    opacity: 1;
    z-index: 1;
  }
  60.03% {
    opacity: 1;
    z-index: 1;
  }
  66.7% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
.bigSlideSec .sliderSlides.thirdSlide {
  animation: slidethree ease-out 15s infinite;
}
@keyframes slidethree {
  0% {
    opacity: 0;
    z-index: 0;
  }
  60.03% {
    opacity: 0;
    z-index: 0;
  }
  66.7% {
    opacity: 1;
    z-index: 1;
  }
  93.38% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@media screen and (max-width: 1200px) {
  .bigSlideSec .sliderSlides .container {
    width: calc(961px - 30px);
  }
}
@media screen and (max-width: 991px) {
  .bigSlideSec .sliderSlides .container {
    width: calc(737px - 30px);
  }
}
@media screen and (max-width: 767px) {
  .bigSlideSec .sliderSlides .container {
    width: calc(545px - 30px);
  }
}
.bigSlideSec .sliderSlides h1 {
  color: #ffffff;
}
.bigSlideSec .sliderSlides canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.bigSlideSecCont {
  width: 63%;
  padding-top: 140px;
}
@media screen and (max-width: 1200px) {
  .bigSlideSecCont {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .bigSlideSecCont {
    width: 100%;
    padding-top: 200px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .bigSlideSecCont {
    padding-top: 140px;
  }
}
.bigSlideSubTitle {
  margin: 50px 0 80px 0;
  font-style: italic;
  font-size: 25px;
}
@media screen and (max-width: 767px) {
  .bigSlideSubTitle {
    font-size: 20px;
    margin: 30px 0 50px 0;
  }
}
.bigSlidButtBlock {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .bigSlidButtBlock {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.bigSlidButtBlock a:not(:last-child) {
  margin-right: 25px;
}
@media screen and (max-width: 575px) {
  .bigSlidButtBlock {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .bigSlidButtBlock a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.bigSlidButtBlock .button:hover {
  color: #f4f2f2;
}
.button {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  color: #ffffff;
  padding: 12px 50px;
  background: #d25b38;
  border: 4px solid #d25b38;
  transition: background 0.3s;
}
.button.whiteBorderButton {
  border: 4px solid #ffffff;
  background: transparent;
}
.button:hover {
  text-decoration: none;
  background: transparent;
  color: #d25b38;
}
.button:active {
  background: #d25b38;
  color: #95391e;
}
.button.whiteBorderButton:hover {
  border: 4px solid #d25b38;
  background: #d25b38;
}
.button.whiteBorderButton:active {
  background: transparent;
}
/*----AboutAgency----*/
.aboutAgency {
  position: relative;
}
.aboutAgency.AnimateFade .oneAboutAgencyText {
  animation-name: aboutAgencyMove;
  animation-duration: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes aboutAgencyMove {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.aboutAgency.AnimateFade .oneAboutAgencyText:nth-child(1) {
  animation-delay: 0.5s;
}
.aboutAgency.AnimateFade .oneAboutAgencyText:nth-child(2) {
  animation-delay: 1.2s;
}
.aboutAgency.AnimateFade .oneAboutAgencyText:nth-child(3) {
  animation-delay: 1.9s;
}
.aboutAgency.AnimateFade .oneAboutAgencyText:nth-child(4) {
  animation-delay: 2.6s;
}
.aboutAgency .leftSecBlock {
  padding: 84px 50px 84px 0;
  width: 26%;
}
@media screen and (max-width: 991px) {
  .aboutAgency .leftSecBlock {
    width: 100%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .aboutAgency .leftSecBlock {
    padding-right: 0;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .leftSecBlock {
    padding-bottom: 0;
  }
}
.aboutAgency .leftSecBlock h2 {
  margin-bottom: 20px;
}
.aboutAgency .leftSecBlock p:last-child {
  margin-bottom: 0;
}
.aboutAgency .rightSecBlock {
  padding: 84px 0;
  width: 74%;
}
@media screen and (max-width: 991px) {
  .aboutAgency .rightSecBlock {
    width: 100%;
    position: relative;
    padding-top: 30px;
    margin-top: 0;
  }
}
.aboutAgency .aboutAgencyBg {
  background: url(../img/sec2bg.jpg) no-repeat center #d25b38;
  background-blend-mode: multiply;
  background-size: cover;
  width: 396px;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .aboutAgency .aboutAgencyBg {
    width: 330px;
  }
}
@media screen and (max-width: 767px) {
  .aboutAgency .aboutAgencyBg {
    width: 200px;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .aboutAgencyBg {
    display: none;
  }
}
.aboutAgency .aboutAgencyTextCont {
  z-index: 2;
  padding-left: 50px;
  width: calc(100% - 50px);
}
@media screen and (max-width: 767px) {
  .aboutAgency .aboutAgencyTextCont {
    padding-left: 15px;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .aboutAgencyTextCont {
    padding: 0;
    width: 100%;
  }
}
.aboutAgency .oneAboutAgencyText {
  position: relative;
}
.aboutAgency .oneAboutAgencyText .oneAboutAgencyTitle {
  width: 300px;
  padding: 11px 0;
  text-align: right;
}
.aboutAgency .oneAboutAgencyText .oneAboutAgencyTitle h3,
.aboutAgency .oneAboutAgencyText .oneAboutAgencyTitle h4 {
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyTitle {
    width: 220px;
  }
}
@media screen and (max-width: 767px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyTitle {
    width: 150px;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyTitle {
    width: 100%;
    background: #d25b38;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 20px;
  }
}
.aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc {
  width: calc(100% - 280px);
  display: flex;
  align-items: flex-start;
  padding-left: 37px;
}
@media screen and (max-width: 1200px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc {
    width: calc(100% - 220px);
    padding-left: 45px;
  }
}
@media screen and (max-width: 767px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc {
    width: calc(100% - 160px);
    padding-left: 17px;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
}
.aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc::before {
  content: url(../img/AboutAgencyIcon.svg);
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0 0 0 13px rgba(199, 40, 25, 0.45);
  display: block;
  position: absolute;
  top: 5px;
}
@media screen and (max-width: 767px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc::before {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 0 6px rgba(199, 40, 25, 0.45);
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDesc::before {
    top: -20px;
    margin-left: 0;
  }
}
.aboutAgency .oneAboutAgencyText .oneAboutAgencyDescText {
  padding-left: 100px;
}
@media screen and (max-width: 767px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDescText {
    padding-left: 55px;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText .oneAboutAgencyDescText {
    padding-left: 0;
    padding-top: 30px;
  }
}
.aboutAgency .oneAboutAgencyText p {
  margin: 0;
}
.aboutAgency .oneAboutAgencyText:not(:last-child) {
  margin: 40px 0;
}
.aboutAgency .oneAboutAgencyText:last-child {
  margin-bottom: 0;
}
.aboutAgency .oneAboutAgencyText:last-child .oneAboutAgencyTitle {
  padding-bottom: 0;
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText:last-child .oneAboutAgencyTitle {
    padding-bottom: 30px;
  }
}
.aboutAgency .oneAboutAgencyText:first-child {
  margin-top: 0;
}
.aboutAgency .oneAboutAgencyText:first-child .oneAboutAgencyTitle {
  padding-top: 0;
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText:first-child .oneAboutAgencyTitle {
    padding-top: 11px;
  }
}
.aboutAgency .oneAboutAgencyText:first-child .oneAboutAgencyDesc {
  align-items: flex-start;
}
.aboutAgency .oneAboutAgencyText::after {
  content: '';
  width: 280px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
  .aboutAgency .oneAboutAgencyText::after {
    width: 200px;
  }
}
@media screen and (max-width: 767px) {
  .aboutAgency .oneAboutAgencyText::after {
    width: 145px;
  }
}
@media screen and (max-width: 575px) {
  .aboutAgency .oneAboutAgencyText::after {
    content: none;
  }
}
.aboutAgency .oneAboutAgencyText:last-child::after {
  content: none;
}
.leftSecBlock {
  width: 26%;
  padding-right: 50px;
}
@media screen and (max-width: 991px) {
  .leftSecBlock {
    width: 100%;
    padding-right: 0;
  }
}
.leftSecBlock h2 {
  margin-bottom: -10px;
}
@media screen and (max-width: 767px) {
  .leftSecBlock h2 {
    margin-bottom: 0;
  }
}
.rightSecBlock {
  width: 74%;
}
@media screen and (max-width: 991px) {
  .rightSecBlock {
    width: 100%;
    position: relative;
    margin-top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .rightSecBlock {
    margin-top: 30px;
  }
}
/*----servicesSec----*/
.specialServ .AnimateFade .specialServGrid {
  animation: servMove 1s cubic-bezier(0, 0.1, 0.7, 1.3) 0.7s forwards;
  opacity: 0;
}
@keyframes servMove {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.specialServGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 27px;
}
@media screen and (max-width: 767px) {
  .specialServGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 575px) {
  .specialServGrid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
.specialServGrid .oneServ {
  background: #ffffff;
  text-align: center;
  display: block;
  color: #454443;
  transition: transform 0.3s ease-out;
  height: 325px;
  position: relative;
  overflow: hidden;
}
.specialServGrid .oneServ::after {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  content: '';
  width: 102%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(45deg, #fb5c00, #ff150d);
}
.specialServGrid .oneServ:hover::after {
  opacity: 1;
}
.specialServGrid .oneServ .oneServCont {
  padding: 130px 25px 30px 25px;
  position: relative;
}
.specialServGrid .oneServ .oneServCont::before {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 45px;
  left: 0;
  margin-left: calc(50% - 27px);
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s ease-out;
}
.specialServGrid .oneServ .oneServCont.achievs::before {
  background-image: url(../img/achievs.png);
}
.specialServGrid .oneServ .oneServCont.designer::before {
  background-image: url(../img/designer.png);
}
.specialServGrid .oneServ .oneServCont.perfect::before {
  background-image: url(../img/perfect.png);
}
.specialServGrid .oneServ .oneServCont.perfect2::before {
  background-image: url(../img/perfect2.png);
}
.specialServGrid .oneServ .oneServCont.achievs2::before {
  background-image: url(../img/achievs2.png);
}
.specialServGrid .oneServ .oneServCont.achievs3::before {
  background-image: url(../img/achievs3.png);
}
.specialServGrid .oneServ .oneServCont p {
  margin-top: 5px;
}
.specialServGrid .oneServ:hover {
  text-decoration: none;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -o-transform: scale(1.07);
  color: #ffffff;
}
@media screen and (max-width: 575px) {
  .specialServGrid .oneServ:hover {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    color: #d25b38;
  }
}
.specialServGrid .oneServ:hover h4 {
  color: #ffffff;
}
@media screen and (max-width: 575px) {
  .specialServGrid .oneServ:hover h4 {
    color: #d25b38;
  }
}
.specialServGrid .oneServ:hover .oneServCont {
  animation: servPad 0.3s cubic-bezier(0.22, 0.81, 0.01, 0.99) 0.2s forwards;
}
@keyframes servPad {
  0% {
    padding-top: 130px;
  }
  100% {
    padding-top: 40px;
    font-size: 18px;
  }
}
.specialServGrid .oneServ:hover .oneServCont p {
  margin-top: 20px;
}
.specialServGrid .oneServ:hover .oneServCont:before {
  transform: scale3d(0, 0, 1);
}
/*----blogSec----*/
.blogSecGrid {
  display: grid;
  grid-gap: 27px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
@media screen and (max-width: 767px) {
  .blogSecGrid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
@media screen and (max-width: 575px) {
  .blogSecGrid {
    grid-gap: 35px;
  }
}
.blogSecGrid .oneBlogBlock {
  grid-column: 1/3;
  position: relative;
}
@media screen and (max-width: 767px) {
  .blogSecGrid .oneBlogBlock {
    grid-column: 1;
  }
}
.blogSecGrid .oneBlogBlock h4 {
  overflow: hidden;
}
.blogSecGrid .oneBlogBlock h4 a {
  color: #454443;
}
.blogSecGrid .oneBlogBlock h4 a:hover {
  color: #d25b38;
}
.blogSecGrid .oneBlogBlock p {
  font-size: 15px;
  overflow: hidden;
}
.blogSecGrid .oneBlogBlock p:last-child {
  margin-bottom: 0;
}
.blogSecGrid .oneBlogBlock:nth-child(4) {
  grid-row: 1/4;
  grid-column: 3/4;
}
.blogSecGrid .oneBlogBlock:nth-child(4) .oneBlogImage {
  float: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: color;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.3s;
}
@media screen and (max-width: 767px) {
  .blogSecGrid .oneBlogBlock:nth-child(4) .oneBlogImage {
    margin: 0;
    min-height: 400px;
    background-size: cover;
    background-position: center top;
  }
}
@media screen and (max-width: 575px) {
  .blogSecGrid .oneBlogBlock:nth-child(4) .oneBlogImage {
    min-height: 400px;
  }
}
.blogSecGrid .oneBlogBlock:nth-child(4) .oneBlogImage:hover {
  background-size: auto 110%;
}
@media screen and (max-width: 767px) {
  .blogSecGrid .oneBlogBlock:nth-child(4) .oneBlogImage:hover {
    background-size: cover;
  }
}
.blogSecGrid .oneBlogBlock:nth-child(4) .oneBlogImage:hover p {
  text-decoration: underline;
}
.blogSecGrid .oneBlogBlock:nth-child(4) h4 {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.blogSecGrid .oneBlogBlock:nth-child(4) p {
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}
.blogSecGrid .oneBlogBlock:nth-child(4) p:last-child {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .blogSecGrid .oneBlogBlock:nth-child(4) {
    grid-row: initial;
    grid-column: 1;
  }
}
.blogSecGrid .oneBlogImage {
  float: left;
  width: 47.5%;
  margin-right: 27px;
  position: relative;
  display: block;
}
@media screen and (max-width: 767px) {
  .blogSecGrid .oneBlogImage {
    margin-right: 15px;
  }
}
@media screen and (max-width: 575px) {
  .blogSecGrid .oneBlogImage {
    float: none;
    margin: 0 0 15px 0;
    width: 100%;
  }
}
.blogSecGrid .oneBlogImage .blogDate {
  bottom: 20px;
  top: inherit;
}
.blogSecGrid .oneBlogImage:hover {
  text-decoration: none;
  opacity: 1;
}
.blogSecGrid .oneBlogImage img {
  transition: opacity 0.3s;
  width: 100%;
}
.blogSecGrid .oneBlogImage:hover img {
  opacity: 0.5;
}
.blogSecGrid .blogDate {
  background: #d25b38;
  color: #ffffff;
  position: absolute;
  top: 20px;
  bottom: inherit;
  left: 20px;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  z-index: 1;
}
.blogSecGrid .blogDate span {
  display: block;
}
.blogSecGrid .blogDate .blogDateDay {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  line-height: 42px;
}
.blogSecGrid .blogDate .blogDateMonth {
  line-height: 10px;
}
/*----MembersSec----*/
.MembersSec {
  overflow: hidden;
}
.MembersSecGrid,
.utpSecGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 27px;
}
@media screen and (max-width: 767px) {
  .MembersSecGrid,
  .utpSecGrid {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 575px) {
  .MembersSecGrid,
  .utpSecGrid {
    grid-gap: 35px;
  }
}
.oneMember {
  text-align: center;
  padding: 0 10px 10px 10px;
  transition: box-shadow ease-out 0.5s, background ease-out 0.5s;
  background: transparent;
}
@media screen and (max-width: 767px) {
  .oneMember {
    text-align: left;
    padding: 10px;
  }
}
@media screen and (max-width: 575px) {
  .oneMember {
    text-align: center;
  }
}
.oneMember p:last-child {
  margin-bottom: 0;
}
.oneMember h4 {
  color: #d25b38;
}
.oneMember:hover {
  background: white;
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.5);
}
.oneMember .oneMemberImage {
  margin-bottom: 40px;
  height: 407px;
  overflow: hidden;
  position: relative;
  width: calc(100% + 20px);
  margin-left: -10px;
}
.oneMember .oneMemberImage img {
  height: 100%;
  position: absolute;
  left: 0;
  transition: left 0.3s ease-out;
  max-width: initial;
}
@media screen and (max-width: 767px) {
  .oneMember .oneMemberImage img {
    max-width: 100%;
    position: relative;
    height: auto;
    transition: none;
    width: 100%;
  }
}
.oneMember .oneMemberImage + figcaption {
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .oneMember .oneMemberImage {
    height: 315px;
  }
}
@media screen and (max-width: 991px) {
  .oneMember .oneMemberImage {
    height: 355px;
  }
}
@media screen and (max-width: 767px) {
  .oneMember .oneMemberImage {
    height: auto;
    float: left;
    width: 50%;
    margin-right: 27px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 575px) {
  .oneMember .oneMemberImage {
    margin-bottom: 30px;
    float: none;
    width: 100%;
  }
}
.oneMember .oneMemberImage:hover img {
  left: -50%;
}
@media screen and (max-width: 767px) {
  .oneMember .oneMemberImage:hover img {
    left: 0;
  }
}
/*----GallerySec----*/
.gallerySec {
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px auto;
}
@media screen and (max-width: 1200px) {
  .gallerySec {
    grid-template-rows: 260px 1fr 1fr;
  }
}
@media screen and (max-width: 575px) {
  .gallerySec {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: minmax(200px, auto);
  }
}
.gallerySec .oneGalleryPic {
  overflow: hidden;
  display: block;
  perspective: 1000;
}
.gallerySec .oneGalleryPic div {
  height: 100%;
  position: relative;
  transition: transform 1s ease-out;
  transform-style: preserve-3d;
}
.gallerySec .oneGalleryPic div img {
  object-fit: cover;
  width: 100%;
  object-position: center;
  height: 100%;
  z-index: 2;
  backface-visibility: hidden;
}
.gallerySec .oneGalleryPic div .hiddenGalleryBlock {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb5c00, #ff150d);
  color: #ffffff;
  top: 0;
  left: 0;
  align-items: center;
}
.gallerySec .oneGalleryPic div .hiddenGalleryBlock span {
  display: block;
  padding: 10px 20px;
}
.gallerySec .oneGalleryPic:hover div {
  transform: rotateY(180deg);
}
.gallerySec .oneGalleryPic:first-child {
  grid-column: 1/3;
}
@media screen and (max-width: 575px) {
  .gallerySec .oneGalleryPic:first-child {
    grid-column: unset;
    grid-row: unset;
  }
}
.gallerySec .oneGalleryPic:nth-child(2) {
  grid-column: 3/5;
}
@media screen and (max-width: 575px) {
  .gallerySec .oneGalleryPic:nth-child(2) {
    grid-column: unset;
    grid-row: unset;
  }
}
.gallerySec .oneGalleryPic:nth-child(3) {
  grid-row: 2/4;
}
@media screen and (max-width: 575px) {
  .gallerySec .oneGalleryPic:nth-child(3) {
    grid-row: unset;
    grid-column: 1/3;
  }
}
.gallerySec .oneGalleryPic:nth-child(4) {
  grid-row: 2/4;
  display: flex;
  align-items: flex-end;
}
.gallerySec .oneGalleryPic:nth-child(4) h2 {
  padding: 30px 27px;
}
@media screen and (max-width: 1200px) {
  .gallerySec .oneGalleryPic:nth-child(4) {
    grid-column: 1/3;
    grid-row: 2/3;
    align-items: center;
  }
}
@media screen and (max-width: 575px) {
  .gallerySec .oneGalleryPic:nth-child(4) {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .gallerySec .oneGalleryPic:nth-child(4) h2 {
    padding: 84px 15px 0 15px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .gallerySec .oneGalleryPic:nth-child(5) {
    grid-column: 1/3;
  }
}
.gallerySec .oneGalleryPic:last-child {
  grid-row: 2/4;
  grid-column: 4/5;
}
@media screen and (max-width: 575px) {
  .gallerySec .oneGalleryPic:last-child {
    grid-row: unset;
    grid-column: unset;
  }
}
/*----utpSec----*/
.oneUtp {
  background: #ffffff;
  padding: 50px 25px 25px;
  text-align: center;
  position: relative;
}
.oneUtp p {
  margin-bottom: 0;
  margin-top: 2em;
}
.oneUtp::before {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto 35px auto;
  transition: 0.3s ease-out;
}
.oneUtp:hover .price {
  color: #d25b38;
}
.oneUtp:hover::before {
  transform: scale(1.15);
}
.oneUtp h4 {
  color: #d25b38;
}
.oneUtp .button {
  padding: 8px 0;
  width: 75%;
  margin: 0 auto;
}
.oneUtp .price {
  font-family: 'Bebas Neue', sans-serif;
  display: inline-block;
  margin: 25px auto;
  font-size: 4.2em;
  line-height: 1em;
}
.oneUtp .price::before {
  content: '$';
}
.oneUtp:nth-child(1)::before {
  content: url(../img/lamp.svg);
}
.oneUtp:nth-child(2)::before {
  content: url(../img/cart.svg);
}
.oneUtp:nth-child(3)::before {
  content: url(../img/pic.svg);
}
.utpSecGrid.AnimateFade .oneUtp {
  animation: utpMove ease-out 0.5s forwards;
  opacity: 0;
}
@keyframes utpMove {
  from {
    left: 100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.utpSecGrid.AnimateFade .oneUtp:nth-child(1) {
  animation-delay: 1.2s;
}
.utpSecGrid.AnimateFade .oneUtp:nth-child(2) {
  animation-delay: 1.9s;
}
.utpSecGrid.AnimateFade .oneUtp:nth-child(3) {
  animation-delay: 2.6s;
}
/*----addressSec----*/
.addressSec {
  position: relative;
  overflow: hidden;
}
.addressSec .addressSecBgimage {
  min-height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 991px) {
  .addressSec .addressSecBgimage {
    opacity: 0;
    left: -99999999px;
  }
}
@media screen and (max-width: 767px) {
  .addressSec .addressSecBgimage {
    opacity: 1;
    left: 0;
    position: relative;
    height: 300px;
  }
}
.addressSec .addressSecBgimage .lBgimage {
  width: 44%;
}
@media screen and (max-width: 767px) {
  .addressSec .addressSecBgimage .lBgimage {
    width: 0;
  }
}
.addressSec .addressSecBgimage .rBgimage {
  background-image: url(../img/addrbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 56%;
}
@media screen and (max-width: 767px) {
  .addressSec .addressSecBgimage .rBgimage {
    width: 100%;
  }
}
.addressSec.AnimateFade .addressSecAddressUl > li {
  animation-name: addressMove;
  animation-duration: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes addressMove {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.addressSec.AnimateFade .addressSecAddressUl > li:nth-child(1) {
  animation-delay: 1.2s;
}
.addressSec.AnimateFade .addressSecAddressUl > li:nth-child(2) {
  animation-delay: 1.9s;
}
.addressSec.AnimateFade .addressSecAddressUl > li:nth-child(3) {
  animation-delay: 2.6s;
}
.addressSec.AnimateFade .addressSecAddressUl > li:nth-child(4) {
  animation-delay: 3.3s;
}
.addressSec .addressSecAddress {
  font-style: normal;
}
.addressSec .addressSecAddress h2 {
  width: 70%;
}
@media screen and (max-width: 1200px) {
  .addressSec .addressSecAddress h2 {
    width: 95%;
  }
}
@media screen and (max-width: 991px) {
  .addressSec .addressSecAddress h2 {
    width: 100%;
  }
}
.addressSec .addressSecAddress .addressSecAddressUl {
  margin-top: 80px;
}
.addressSec .addressSecAddress .addressSecAddressUl li {
  padding-left: 82px;
  position: relative;
}
.addressSec .addressSecAddress .addressSecAddressUl li:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  .addressSec .addressSecAddress .addressSecAddressUl li {
    float: left;
    min-height: 120px;
    width: calc(50% - 100px);
  }
  .addressSec .addressSecAddress .addressSecAddressUl li:nth-child(even) {
    margin-left: 18px;
  }
}
@media screen and (max-width: 767px) {
  .addressSec .addressSecAddress .addressSecAddressUl li {
    float: none;
    width: auto;
    min-height: auto;
  }
  .addressSec .addressSecAddress .addressSecAddressUl li:nth-child(even) {
    margin-left: 0;
  }
}
.addressSec .addressSecAddress .addressSecAddressUl li::before {
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: -20px;
  content: '';
}
.addressSec .addressSecAddress .addressSecAddressUl li a {
  display: block;
  color: #454443;
}
.addressSec .addressSecAddress .addressSecAddressUl li a:hover {
  color: #d25b38;
}
.addressSec .addressSecAddress .addressSecAddressUl li .h4 {
  color: #d25b38;
  font-size: 2em;
}
.addressSec .addressSecAddress .addressSecAddressUl li p {
  margin: 0;
}
.addressSec .addressSecAddress .addressSecAddressUl .addressLi::before {
  background-image: url(../img/map.svg);
}
.addressSec .addressSecAddress .addressSecAddressUl .callusLi::before {
  background-image: url(../img/phone.svg);
}
.addressSec .addressSecAddress .addressSecAddressUl .emailLi::before {
  background-image: url(../img/email.svg);
}
.addressSec .addressSecAddress .addressSecAddressUl .webLi::before {
  background-image: url(../img/web.svg);
}
